.container {
    display: flex;
    justify-content: center;
}

.centered {
    background-color: lightblue;
    border-radius: 10px;
    height: 18em;
    width: 15em;
    padding: 10px;
    color: white;
    text-align: center;
}

.centered h1{
    padding: 10px;
}

.centered button{
    margin: 10px;
}

.centered input{
    margin-top: 10px;
} 
